name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [macOS-10.15, windows-2019]
        os: [windows-2019]
        targetplatform: [x64]
        # os: [ubuntu-20.04, windows-2019, macOS-10.15]
    
    steps:
      - name: Install dependencies macos
        if: runner.os == 'macos'
        run: |
          brew update
          brew install fluid-synth

      - name: Install deps linux
        if: runner.os == 'linux'
        run: |
          sudo apt-get install libfluidsynth-dev

      - name: Instal deps windows 
        if: runner.os == 'windows'
        uses: lukka/run-vcpkg@v6
        with:
          vcpkgArguments: fluidsynth:${{ matrix.targetplatform }}-windows
          vcpkgTriplet: ${{ matrix.targetplatform }}-windows
          vcpkgGitCommitId: "0bf3923f9fab4001c00f0f429682a0853b5749e0"
        # run: |
          # choco install fluidsynth 
          # choco list --local-only --exact fluidsynth --trace
          
      - uses: actions/checkout@v2

      # Used to host cibuildwheel
      - uses: actions/setup-python@v2

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==1.10.0 twine virtualenv cython

      - name: Build wheels
        env: 
          CIBW_SKIP: *-win32 pp* cp36* cp37* 
        run: |
          # python setup.py build_ext
          python -m cibuildwheel --output-dir wheelhouse
      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
      - name: Upload wheels
        env:
          TWINE_USERNAME: Eduardo.Moguillansky
          TWINE_PASSWORD: ${{ secrets.pypipass }}
        run: |
          echo $TWINE_USERNAME
          echo $TWINE_PASSWORD
          twine upload --skip-existing wheelhouse/*.whl
        continue-on-error: true